@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;500;600&display=swap");

.App {
  font-family: "Alegreya Sans", sans-serif;
}

/* "#F0FAFF" : "#FAFFFF"  */

/* "#d5f0ff":"#ecfdfd" */

/*****Main page*****/

.main-heading {
  text-align: center;
  color: #057657;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;
}

.view-flex {
  display: grid;
  grid-template-columns: 10rem auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.main-content {
  padding: 1rem 2rem;
}

.navLink {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

/*********Filter**********/

.filter-main {
  position: relative;
  /* border: 1px solid #c7c7c7; */
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 1rem;
}
.filter-title {
  position: absolute;
  top: -30.5px;
  background-color: #fff;
}

/************unread*************/

.unread-title {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 0;
  margin: 0.2rem;
}

/********Card**********/

.card-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  list-style: none;
  width: 95%;
  border: 1px solid #979797;
  padding: 1rem;
  border-radius: 5px;
}

.card-head {
  font-size: 1.4rem;
  margin: 1rem 0;
}
.card-info {
  word-spacing: 1.8px;
  font-weight: 500;
}

/********card-link**********/

.card-link {
  color: #155b9e;
  font-weight: 600;
  text-decoration: none;
}

/********flex********/
.btn-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***********Btn***********/
.btn-del,
.btn-read,
.btn-spam,
.btn-star {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin: 0 1rem 0 0;
  background-color: #fff;
  box-shadow: 0 1px 5px #d9d9d9;
  cursor: pointer;
}

button:hover {
  background-color: azure;
}

button:active {
  box-shadow: none;
}

.btn-del {
  color: red;
}
.btn-read {
  color: #155b9e;
}
.btn-spam {
  color: #16bf16;
}
.btn-star {
  color: #ff9b18;
}

/***************Label***********/

label {
  padding-right: 2rem;
  font-weight: 500;
}
input {
  cursor: pointer;
}

/***********unread count************/

.unread-count {
  font-family: "Chivo Mono", monospace;
  padding-left: 0.5rem;
}

/*****************/

.emptyListTitle {
  margin: 10rem 0 0 22rem;
}
